footer {
  background-color: var(--brand-navy);
  color: #fff;
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 48px 24px 32px;
  display: grid;
  gap: 20px;
}

footer .footer p {
  margin: 0;
  color: #fff;
}

footer .footer img {
  width: auto;
  height: 56px;
}

footer .footer a:any-link {
  color: #fff;
  text-decoration: underline;
}

footer .footer a:hover {
  color: var(--brand-stone);
}

footer .footer ul {
  list-style: none;
  margin: 8px 0 0;
  padding: 20px 0 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px 20px;
  border-top: 1px solid rgb(255 255 255 / 20%);
}

footer .footer ul a:any-link {
  text-decoration: none;
  color: var(--brand-stone);
}

footer .footer ul a:hover {
  color: #fff;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 56px 32px 32px;
  }
}
